body{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(233, 47%, 7%) ;
    height: 100vh;
    color:hsl(0, 0%, 100%) ;

}

section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: hsl(244, 38%, 16%) ;

    border-radius: 20px;
    height: 500px;
    width: 1200px;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    

    
}
.container{

    width: 65%;
position: relative;

}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-color: hsla(277, 64%, 61%, 0.5);
  }
  

.infos{
    text-align: start;
    padding: 30px;

}

.title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Lexend Deca", sans-serif;
}

span{
    color: hsl(277, 64%, 61%) ;
}

.description{
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 350px;
    color: hsla(0, 0%, 100%, 0.75);
    /* margin-bottom: 50px; */
}

.card_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 90px;

}

.card{
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

.static{
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
      letter-spacing: 1px;
      font-size: 15px;
}

.card h1{
    font-size: 1.7rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin: 0;
  

}
.mobile_image{
    display: none;
}
.desktop_image{
    display: block;
}

@media screen  and (max-width:375px){
    
    .desktop_image{
        display: none;
    }
    .mobile_image{
        display: block;
    }
    body{
        padding: 40px 10px;
    }


    section{
        height: auto;
        width: 100%;
        flex-direction: column-reverse;

        justify-content:normal;
    }
    .infos{
        height: auto;
        padding: 20px;
    }
    .container{
        width: 100%;
        height: 35%;
    }
    .title{
        font-size: 1.5rem;
    }
    .description{
        width: 100%;
    }
    .card_container{
        width: 100%;
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .card{

        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .static{
        font-size: 12px;
    }
    .card h1{
        font-size: 1.2rem;
    }




  
}